<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538255187251-12qbauv6cq7cllnp4ie5taolt166h8ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538255187251-12qbauv6cq7cllnp4ie5taolt166h8ob</string>
	<key>API_KEY</key>
	<string>AIzaSyDYfAKdNviLB7ck87IfRoIQpIlOjclgIgw</string>
	<key>GCM_SENDER_ID</key>
	<string>538255187251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evacuatem</string>
	<key>PROJECT_ID</key>
	<string>evacuateisucc</string>
	<key>STORAGE_BUCKET</key>
	<string>evacuateisucc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538255187251:ios:66421cbd0a4e3ac5037246</string>
</dict>
</plist>